.advantages {
  background-color: #f2f2f2;
  position: relative;
  text-align: center;
}

.advantages__list {
  background-color: #f2f2f2;
  list-style: none;
  color: @background-color;
}



.advantages__list-title {
  color: #000000;
  font-size: 18px;
  line-height: 10px;
  font-weight: 600;
}

.advantages__list-description {
  font-size: 14px;
  line-height: 24px;
  color: @background-color;
}

.advantages-image {
  background-color: #f2f2f2;
}
