.app {
  display: block;
  position: relative;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  max-width: 320px;
  margin: 0 auto;
  min-height: 207px;
    padding-top: 391px;
}

.app__header {
  display: none;
  font-size: 40px;
  color: #ffffff;
  font-weight: 300;
}

.app__hand {
  position: absolute;
  display: block;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  width: 258px;
  height: 286px;
  bottom: 209px;
  left: 0;
}

.app__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  list-style: none;
  text-align: center;
  display: block;
  font-weight: 600;
  border: 3px solid #ffffff;
  border-radius: 25px;
  padding: 11px 0;
  margin: 20px;
  background-color: @background-color;

}

.app__description {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
  text-align: center;
}

.app__list {
  list-style: none;
  z-index: 30;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

@media (min-width: @tablet-width) {
  .app {
    background-image: none;
    background-size: 1200px 729px;
    background-position: 50% 0;
    padding: 0;
    display: flex;
    min-height: 618px;
    flex-direction: column;
    width: 300px;
    background-color: transparent;
    margin: 0;
  }

  .app__wrapper {
    z-index: 31;
  }

  .app__header {
    display: block;
  text-align: center;
  padding-top: 91px;
  width: 245px;
  line-height: 48px;
  margin: 0 auto;
      margin-bottom: 30px;
  }

  .app__hand {
    display: block;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    bottom: 0;
    left: -40px;
    width: 660px;
    height: 545px;
    position: absolute;
  }

  .app__description {
    z-index: 50;
    font-size: 18px;
    font-weight: 300;
        margin-top: 18px;
  }

  .app__link {
    padding: 15px 0;
    margin-top: 30px;
    margin: initial;
    background-color: initial;
  }

  .app__list {
    justify-content: space-between;
margin-top: 45px;
align-items: baseline;
padding: 0 47px;
  }
}

@media (min-width: 321px) and (max-width: 659px) {
  .app {
    background-image: none;
  }
}

@media (min-width: @desktop-width) {
  .app__hand {
    background-image: url("../img/iphone-hand-desktop@1x.png");
    top: 100px;
    left: -75px;
    width: 960px;
    height: 645px;
    position: absolute;
    margin: 0;
  }

  .app__header {
    display: block;
    margin-top: 125px;
  }
}
