.app {
  background-color: @background-color;
}
.app__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
}
.app__description {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
