.effect {
  display: none;
}

@media (min-width: @tablet-width) {
  .effect {
    display: block;
    margin-bottom: 135px;
  }

  .effect__clock-picture {
    font-size: 96px;
    line-height: 150px;
    color: #d22856;
    position: relative;
    font-weight: 700;
    border: 14px solid #d22856;
    border-radius: 50%;
    padding: 33px 42px;
    box-sizing: border-box;
    margin: 0 92px 0 20px;
  }

  .effect__clock-picture::before {
    content: "";
    top: -100px;
    left: -52px;
    width: 298px;
    height: 349px;
    position: absolute;
    background-image: url("../img/icon-timer.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .effect__wrapper {
    display: flex;
  }

  .effect__main-link {
    color: #d22856;
  }
}
