.form__travel-app {
  display: none;
}

.form__contact-info {
  display: none;
}

.form__skills {
  padding: 0;
  padding-top: 40px;
  box-sizing: border-box;
  margin: 0;
  padding-bottom: 42px;
  background-color: #f2f2f2;
  border: none;
}

.form__skills legend {
  line-height: 18px;
  color: #d4345f;
  text-transform: uppercase;
  text-align: center;
  padding-top: 40px;
    background-color: #f2f2f2;
    padding-left: 30px;
        padding-right: 29px;
            width: 100%;
}

.form__skills-list {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
}

.form__skills-list  li {
  padding-left: 70px;
      margin-bottom: 55px;
}

.form__skills-list li label {
  font-size: 18px;
  line-height: 30px;
  color: @background-color;
  position: relative;
  cursor: pointer;
}

.form__skills-list li input {
  display: none;
}

.form__skills-list li label::before {
  position: absolute;
    content: "";
  top: 0;
  left: -70px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  width: 35px;
  height: 35px;
}
