.form {
  margin: 0 auto;
}

.form__legend {
  line-height: 18px;
  color: #d4345f;
  text-transform: uppercase;
  text-align: center;
}

.skills-list__item {
  padding-left: 70px;
  margin-bottom: 55px;
}

.skills-list__label {
  font-size: 18px;
  line-height: 30px;
  color: @background-color;
  position: relative;
  cursor: pointer;
  align-items: center;
  display: flex;
}

.skills-list__input {
  display: none;
}

.skills-list__input + label::before {
  position: absolute;
  content: "";
  top: 0;
  left: -70px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  width: 35px;
  height: 35px;
}

.skills-list__input:checked + label::after {
  position: absolute;
  content: "";
  top: 0;
  left: -70px;
  background-image: url("../img/icon-yes-form.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 35px;
  height: 35px;
}

.form__fieldset__paragraph {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

  .form__fieldset--app {
    padding: 0;
  }

.form__fieldset__paragraph input::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: @background-color;
  padding-left: 23px;
  box-sizing: border-box;
}

.form__fieldset__paragraph span {
  display: flex;
  order: 2;
  width: 100%;
}

.form__fieldset__paragraph label {
  display: block;
  padding-left: 20px;
  box-sizing: border-box;
  line-height: 30px;
  color: #d4345f;
  text-transform: uppercase;
}


.form__contact-info {
  padding: 0 20px;
}

.form__contact-info input {
  width: 100%;
  height: 60px;
  border: 2px solid #e5e5e5;
  padding: 0;
}

.form__contact-info::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  padding-left: 23px;
  box-sizing: border-box;
}

.form__travel-app {
  box-sizing: border-box;
  margin: 0;
  background-color: #f2f2f2;
}

.form__fieldset--contacts  {
  border: none;
}

.form__fieldset--app {
  border: none;
}

.form__fieldset--text {
  border: 2px solid #e5e5e5;
margin: 0 20px 60px;
    padding: 0 62px 52px;;
}

@media (min-width: @tablet-width) {
  .form__travel-app {
    background-color: initial;
    border: 2px solid #e5e5e5;
    margin: 0 20px 60px;
  }

  .form__contact-info {
    border: 2px solid #e5e5e5;
    margin: 0 20px;
    padding: 35px 60px;
    margin-bottom: 60px;
  }

  .form__identity {
    margin-bottom: 60px;
  }

  .form__footer {
    display: flex;
    justify-content: space-between;
  }

.form__wrapper form {
  display: flex;
  flex-wrap: wrap;
}

  .form__fieldset--text {
order: 5;
  }

  .form__fieldset--app {
order: 2;
width: 100%;
  }

  .form__fieldset--contacts {
order: 3;
width: 100%;

  }

  .form__fieldset--skills {
order: 4;
  }

  .form__fieldset--header {
order: 1;
  }
  .form__footer {
    order: 6;
  }
}

@media (min-width: @desktop-width) {
  .form__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
  }

  .form__wrapper form {
    width: 100%;
  }
}
