.form-skills {
  padding: 40px 0 0;
  box-sizing: border-box;
  margin: 0;
  background-color: #f2f2f2;
  border: none;
}

.form-skills__legend {
  line-height: 18px;
  color: #d4345f;
  text-transform: uppercase;
  text-align: center;
  padding-top: 40px;
  background-color: #f2f2f2;
  padding-left: 30px;
  padding-right: 29px;
  padding-bottom: 40px;
  width: 100%;
}

.form-skills__list {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: @tablet-width) {
  .form-skills {
    background-color: initial;
    border: 2px solid #e5e5e5;
    margin: 0 20px 60px;
  }

  .form-skills__legend {
    padding: 0;
    background-color: initial;
    width: initial;
    margin-bottom: 50px;
  }
}

@media (min-width: @desktop-width) {
  .form-skills {
    width: 100%;
  }
}
