.lead__description {
  font-size: 24px;
  color: @background-color;
  font-weight: 400;
}

.lead__description--form {
  font-size: 24px;
  color: #ffffff;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: @background-color;
}

.lead__description--photo {
  font-size: 14px;
  line-height: 30px;
}
