.page-header {
  background-color: @background-color;
  position: relative;
  width: 100%;
}

.page-header__logo {
  width: 72px;
}

.page-header__wrapper {
  min-height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__toggle {
  width: 90px;
  height: 70px;
  top: 0;
  right: 0;
  z-index: 30;
  display: block;
  background-color: @background-color;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
}

.page-header__toggle--closed {
  background-image: url("../img/icon-menu-burger.svg");
  background-repeat: no-repeat;
  background-size: 50px 30px;
  background-position: 50% 50%;
}

.page-header__toggle--opened {
  background-image: url("../img/icon-menu-cross.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
}

@media (min-width: @tablet-width) {
  .page-header__logo img {
    display: block;
    width: 150px;
    height: auto;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    display: flex;
    min-height: 110px;
    position: absolute;
    z-index: 50;
    background-color: transparent;
    background-size: 2560px 853px;
  }

  .page-header__wrapper {
    min-height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__toggle {
    display: none;
  }

  .pade-header__toggle--closed + .main-nav__list {
    display: none;
  }
}
