.page-footer__logo {
  display: flex;
  margin: 0 auto;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-around;
}

.page-footer__wrapper {
  display: block;
}

@media (min-width: 660px) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__social {
    margin: 0 auto;
    width: 320px;
  }

  .page-footer__logo {
    margin: 0;
  }

  .social__list {
    align-items: center;
    height: 100%;
  }
}

@media (min-width: 960px) {
  .page-footer {

    box-sizing: border-box;
  }
}
