.page-header {
  background-color: @background-color;
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 325px;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    height: 985px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    height: 394px;
  }
}
