.publications {
  overflow: hidden;
}

.publications__list {
  margin: 0 auto;
  width: 320px;
  list-style: none;
  padding: 0;
}

.publications__item--main {
      margin: 0 auto;
      padding: 0;
}

.publications__review {
  background-color: #f2f2f2;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 280px;
  display: flex;
  flex-wrap: wrap;
}

.publications__author {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
}

.publications__panorama {
  display: block;
  margin: 0 auto;
}

.publications__time {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  opacity: 0.5;
  margin: 14px;

}

.publications__comment {
  font-size: 14px;
  line-height: 24px;
  color: @background-color;
      width: 100%;
}

.publications__button {
  background-image: url(../img/icon-heart.svg);
  background-size: contain;
  width: 12px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding: 0;
  background-color: #f2f2f2;
  margin-right: 20px;
}

.publications__like {
  color: #d22856;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
}

.publications__item {
  margin: 0 auto;
  box-sizing: border-box;
}

.subheading p {
  font-size: 14px;
  line-height: 30px;
  color: @background-color;
  text-align: center;
  font-weight: 400;
}

.publications__image {
  display: block;
margin: 0 auto;
    max-width: 280px;
}

@media (min-width: 660px) {
  .publications__list {
    display: flex;
width: 660px;
    flex-wrap: wrap;
    padding: 0;
  }

.publications__review--main & {
  .publications__author{
    order: 1;
  }

  .publications__time {
    order: 2;
  }

  .publications__like {
    order: 3;
  }

  .publications__button {
    order: 4;
  }

  .publications__comment {
    order: 5;
  }
}

  .publications__item:nth-of-type(2n) {
    margin-right:20px;
    margin-left: 20px;
   }

   .publications__item:nth-of-type(2n+1) {
     margin-right:20px;
     margin-left: 0;
   }

   .publications__item:nth-of-type(1) {
     margin-right: 0;
     margin-left: 0;
   }

   .publications__image {
     max-width: 100%;
   }

  .publications__item--main {
    width: 100%;
     margin-right: 0;
     margin-left: 0;
  }

  .publications__review{
    max-width: 300px;
  }

  .publications__review--main {
    max-width: 100%;
        margin: 0 auto;
        margin-left: 20px;
margin-right: 20px;

  }
}

@media (min-width: 960px) {
  .publications__list {
width: 960px;
    margin: 0 auto;
  }

  .publications__comment {
    display: flex;
    flex-wrap: wrap;

  }

  .publications__item--main {
    width: 100%;
  }
  .publications__review--main {

    margin: 0 auto;
  }

  .publications__item:nth-of-type(2n+1){
    margin-right: 20px;
  }
  .publications__item:nth-of-type(2n) {
    margin-right: 20px;
    margin-left: 0;
  }

  .publications__item {
margin-right: 20px;
   }



   .publications__item:nth-of-type(1) {
     margin-left: 0;
     margin-right: 0;
   }

   .publications__item:nth-of-type(n+3) {

    }

   .publications__item:nth-of-type(6) {

   }
}
