.review__name {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  font-weight: 700;
}

.review__description {
  font-size: 14px;
  line-height: 30px;
  color: @background-color;
  text-align: center;
}

.review__slider {
  display: flex;
  list-style: none;
  align-items: center;
}

.review__id {
  display: none;
}
