.site-list__item {
  min-height: 64px;
  text-align: center;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #485461;
}

.site-list__item a {
  font-size: 18px;
  line-height: 31px;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
}
