.upload {
  background-color: #f2f2f2;
  padding: 20px 0;
  box-sizing: border-box;
      margin-bottom: 20px;
}

.upload__icon {
  width: 48px;
  height: 45px;
}

.upload__filters-scale {
  display: none;
}

.upload__filters {
  display: flex;
  margin: 0 auto;
  width: 280px;
  position: relative;
  justify-content: space-between;
    padding: 18px 42px 5px 28px;
  box-sizing: border-box;
      margin-top: 21px;
          margin-bottom: 106px;
}

.upload__filters::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -30px;
  left: 0;
  width: 240px;
  margin: 0 20px;
  height: 2px;
  background-color: @background-color;
}

.upload__filters-toggle {
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 97px;
z-index: 10;
right: 54px;
  background-color: #ffffff;
  border: 2px solid #d22856;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.upload__filters-icon {
  background-color: transparent;
  border: none;
  display: block;
height: 52px;
}

.upload__buttons-submit {
  width: 280px;
  height: 52px;
  border: 3px solid #d22856;
  border-radius: 25px;
  color: #d22856;
  background-color: transparent;
      margin-bottom: 15px;
}

.upload__buttons-reset {
  width: 280px;
  height: 52px;
  border: 3px solid #dddfe0;
  border-radius: 25px;
  background-color: transparent;
  color: #dddfe0;
}

.upload__image-picture {
  display: block;
  margin: 0 auto;
}

.upload__buttons {
  margin: 0 auto;
  width: 280px;
  font-size: 18px;
line-height: 18px;
font-weight: 700;
    padding-bottom: 20px;
}

.upload__filters-row--1 {
order: 2;
}
.upload__icon--1 {
fill: #b5b9be;
}

.upload__filters-row--2 {
order: 1;
}
.upload__icon--2 {
  fill: #d22856;
}

.upload__filters-row--3 {
  order: 3;
}
.upload__icon--3 {
fill: #b5b9be;
width: 30px;
height: 30px;
}

@media (min-width: @tablet-width) {
  .upload__filters-scale {
    position: relative;
    width: 200px;
    height: 2px;
    display: block;
    background-color: @background-color;
  }

  .scale__toggle {
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    left: 0;
    background-color: #ffffff;
    border: 2px solid #d22856;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .upload__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .upload__filters::after {
    display: none;
  }

  .upload__filters-toggle {
    display: none;
  }

  .upload__filters {
    display: block;
  }

  .upload__filters-row {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 2px solid #dddfe0;
    padding-bottom: 20px;
  }

  .upload__filters-icon {
    margin-right: 35px;
  }

  .upload__image-picture {
    width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .upload__image-picture {
    width: 300px;
  }

  .upload {
    background-color: #f2f2f2;
padding: 55px 80px;
-webkit-box-sizing: border-box;
box-sizing: border-box;
width: 940px;
margin: 0 auto;
  }
}
