html {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  padding: 0;
  color: #000000;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  background-color: #ffffff;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  body {
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  body {
    width: @desktop-width;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: local("Open Sans"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: local("Open Sans Bold"), url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src: local("Open Sans Light"), url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

img {
  max-width: 100%;
  height: auto;
}
